.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: linear-gradient(0deg, #5e0d77, #4774a8);
    width: 450px;
}

.main-content {
    height: 100vh;
    color: #eee;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}