.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: linear-gradient(0deg, #2e2e2e, #999999);
    width: 450px;
}

.main-content {
    height: 100vh;
    color: #eee;
}

.task-title {
    font-size: 1.1em;
    font-weight: bold;
    color: lightskyblue;
}